<nav class="navbar navbar-expand-md bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Triple Notch</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav">
        <ng-container *ngFor="let title of routeTitles; let i = index">
          <a class="nav-link" [routerLink]="routePaths[i]">
            <li class="nav-item text-light" data-bs-toggle="collapse" data-bs-target="#navbarMenu">{{title}}</li>
          </a>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
