<div class="container">
  <div class="row">
    <div class="col">
      <p>
        Pete Hillman is the owner of Triple Notch Animal Control.
        He's ready to rid you of nuisance animals in your home or on your property.
        If you're here, that means you've seen a mouse or you've smelled the distinct odor of skunk.
        Whatever your trouble, Triple Notch Animal Control is your solution.
        Pete Hillman specializes in the removal of nuisance animals in Clyde and surrounding areas of North Central Ohio.
        If you're tired of hearing a raccoon running through your attic — give Triple Notch a call!
      </p>
    </div>
  </div>
</div>
